<header
  class="
    container
    mx-auto
    flex flex-col
    xl:flex-row
    items-center
    justify-between
    pt-6
    pb-10
    border-b
  "
>
  <h1 class="text-3xl font-extralight text-gray-800">Node Js Express</h1>
  <ul class="text-2xl flex items-center text-gray-900 font-thin">
    <% links.forEach(item => { %>
    <li
      class="
        ml-6
        cursor-pointer
        transform
        transition
        duration-200
        hover:text-blue-600
      "
    >
      <%= item %>
    </li>
    <% }) %>
  </ul>
</header>
